streamlit
langchain
langchain-core
langchain-google-genai
langchain-openai
langchain-experimental
python-dotenv
faiss-cpu
tiktoken
sentence-transformers
unstructured
selenium
pypdf # PyPDFLoader를 위해 추가
python-docx # Docx2txtLoader를 위해 추가
